@import "custom.css";

/* bootstrap customizations */
.ui-autocomplete {
    z-index: 1500;
}

/* SIDEBAR */
.navbar-custom {
    background-color: #3C8DBC;
    box-shadow: 0px 2px 2px silver;
}

.navbar-custom .nav-link, .navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .dropdown-toggle::after {
    display: none;
}

#sidebar {
    display: none;
    position: fixed;
    width: 280px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    z-index: 2001;
    background-color: #222D32;
    color: rgb(184, 199, 206);
    box-shadow: 3px 0px 3px #666;
}

#sidebar::-webkit-scrollbar {
    width: 5px;
}

#sidebar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

.sidebar-header {
    padding: 10px 5px 10px 5px;
    text-align: center;
}

.sidebar-header a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar-header .form-control {
    background-color: #374850;
    border-color: #374850;
    color: rgb(184, 199, 206);
}

.sidebar-header .btn {
    background-color: rgb(184, 199, 206);
    border-color: #374850;
}

#sidebar ul {
    padding: 0;
}

#sidebar ul ul {
    border-bottom: 1px solid #454B54;
    border-left: 1px solid #454B54;
    border-top: 1px solid #454B54;
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 20px !important;
}

#sidebar ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#sidebar ul li.active {
    background-color: #2C3B41;
    border-left: 2px solid #00A5E3;
}

#sidebar ul li.active li {
    border-left-width: 0px;
}

#sidebar ul li a {
    display: block;
    padding: 5px;
    color: rgb(184, 199, 206);
}

#sidebar ul li a:hover {
    background-color: #1E282C;
    font-weight: bold;
    text-decoration: none;
}

#sidebar .sidebar-menu-item-active {
    color: white;
    font-weight: bold;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar-overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2000;
    background-color: #FFF;
    opacity: 0.5;
}